.DS_Store
*.sublime*
*.swp
node_modules
frontend/dist/lib/map_center/modules/livemap.js
frontend/dist/lib/map_center/modules/livemap-playback.js
backend/schedule.json

calc-broadcaster-error.html

calc-broadcaster-ready.html

calc-consumer-error.html

calc-consumer-ready.html
