.container {
    margin: 10px;
    padding: 20px;
    border: solid 1px #ddd;
}
.title {
    font-size: 14pt;
    margin-bottom: 8px;
    display: block;
}
.auth-status {
    display: block;
    margin-bottom: 8px;
}
.current-auth-status {
    font-weight: bold;
}
.button {
    cursor: pointer;
}
